<div class ="header">
    <div class="menu">
        <a href="/petition">Sign petition</a> |
        <a href="/profile/edit">Edit profile</a> |
        <a href="/logout">Log out</a>
    </div>
</div>
