<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles.css">
        <title>Petition</title>
    </head>
    <body>
        <div class ="header">
            <div class="menu">
                <a href="/profile/edit">Edit Profile</a>
                <a href="/logout">LOGOUT</a>
            </div>
        </div>
        </header>
        <div class ="main">
            <h1>Petition for World Peace!</h1>
            {{{body}}}
        </div>
        <footer>&copy B端rgerinitiative f端r Freie Fahrt f端r Freie B端rger!1!!!</footer>
    </body>
</html>
