<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles.css">
        <title>Petition</title>
    </head>
    <body>
        <header><h1>Petition to allow parking for SUVs on all sidewalks in Berlin!</h1></header>
        <main>
        {{{body}}}
        </main>
        <footer>&copy B端rgerinitiative f端r Freie Fahrt f端r Freie B端rger!1!!!</footer>
    </body>
</html>
