{{> menuin}}
<div class ="main">
    <div class="centercontainer">
        <h1>List of all Signers from {{city}}</h1>
        <ol class ="names">
        {{#names}}
            <li class = "name">
                {{firstname}} | {{lastname}} | {{age}}
            </li>
        {{/names}}
        </ol>
    </div>
</div>
