
<p>Pleas Login Here!</p>
{{#if error}}
<p class="errormessage">Whoops, something went wrong! Please try again!</p>
{{/if}}


<form method="POST">
    <input name="email" required>Email Adress</input>
    <input type ="password" id="pass" name="password" minlength="6" required>Password</input>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="submit-button" value="submit">LOG IN</button>
</post>

<p> Don't have an account yet? Please <a href="/registration">register here!</a>.<p>
