<p> Don't you hate it when you are driving your Porsche Cayenne in Berlin and can't find parking because the first and second row are already full? Make sidewalk parking legal! Screw those pesky pedestrians and scooters! Walking is for commies!</p>

<!-- <img width="600" src="https://i.redd.it/jumtj2ydqeg31.jpg" style="display:block"> -->

<p>Sign Here!</p>
{{#if error}}
<p class="errormessage">Whoops, something went wrong! Please try again!</p>
{{/if}}

<canvas id="canvas"  width="600" height="150"></canvas>

<form method="POST">
    <input name="firstname" required>First Name</input>
    <input name="lastname" required>Last Name</input>
    <input name="signature" type="hidden" id="sig">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="submit-button" value="submit">Submit</button>
</post>

<script src="/script.js" charset="utf-8"></script>
