
<p>Now please just tell us a little bit more about yourself!</p>
{{#if error}}
<p class="errormessage">Whoops, something went wrong! Please try again!</p>
{{/if}}


<form method="POST">
    <input name="email">Age</input>
    <input name="city">City</input>
    <input name="url">Homepage</input>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="submit-button" value="submit">Submit</button>
</post>

<p><a href="/petition">Skip this step</a></p>
