<p> Don't you hate it when you are driving your Porsche Cayenne in Berlin and can't find parking because the first and second row are already full? Make sidewalk parking legal! Screw those pesky pedestrians and scooters! Walking is for commies!</p>



<img width="600" src="https://i.redd.it/jumtj2ydqeg31.jpg" style="display:block">

<p class="errormessage">Whoops, something went wrong!</p>
<p>Sign Here!</p>
<canvas id="sig"  width="600" height="150"></canvas>
<input type="hidden" id="sigData">
<input type="text" name="first-name">First Name</input>
<input type="text" name="last-name">Last Name</input>
<button id="submit-button" value="submit">Submit</button>
