#canvas {
    border: 1px solid black;
    display: block;
    width: 600px;
    height: 150px;
}

header {
    /* height: 100px; */
    background-color: #222831;
    border-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #00adb5;
}

main {
    padding: 5px;
    flex-grow: 1;
    background-color: #eeeeee;
}

footer {
    background-color: #393e46;
    padding-left: 5px;
    height: 100px;
    flex-shrink: 0;
    bottom: 0px;
    color: #eeeeee;
    display: flex;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "Helvetica";
}

.errormessage {
    color: red;
}

input {
    display: block;
}
